.project-card {
    width: 60%;
    max-width: 600px;
    box-shadow: 0px 0px 8px 1px rgb(227, 227, 227);
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
}

.project-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

p span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}