/* #project-list { */
/* display: flex; */
/* flex-direction: column; */
/* grid-template-columns: 30% 30% 30%; */
/* column-gap: 10px; */
/* row-gap: 10px; */
/* align-items: center; */
/* } */

h3 {
    text-align: center;
}