#project-page {
    /* padding: 20px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* grid-template-columns: 30% 30% 30%; */
    /* align-items: center; */
    /* column-gap: 10px; */
    /* row-gap: 10px; */
}

p {
    margin: 20px;
}

#donate-btn {
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
}