/* #project-page { */
/* padding: 20px; */
/* display: flex; */
/* flex-direction: column; */
/* grid-template-columns: 30% 30% 30%; */
/* align-items: center; */
/* column-gap: 10px; */
/* row-gap: 10px; */
/* } */

p {
    margin: 20px;
}

ul {
    justify-content: center;
}

li {
    width: 600px;
}

#donate-btn {
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
}

.pledge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(var(--darkcolorRGB), 0.2);
    box-shadow: 0px 0px 8px 1px rgb(227, 227, 227);
    margin: 30px 0;
    width: 80%;
    padding: 15px;
}