footer {
    display: flex;
    flex-direction: column;
    background-color: var(--darkcolor);
    color: white;
    height: 200px;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer a {
    color: var(--aqua);
    margin: 10px;
}