footer {
    display: flex;
    background-color: var(--darkcolor);
    color: white;
    height: 200px;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    justify-content: center;
    align-items: center;
}