:root {
    --darkcolor: #2a3927;
    --aqua: #25C0C0;
    --yellow: #FFBC30;
    --fancy-font: 'Yellowtail', cursive;
    --text-font: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);
    color: var(--darkcolor);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

#root {
    min-height: 100%;
}

h1,
h2 {
    font-family: var(--fancy-font);
}

h2 {
    text-align: center;
    font-size: 38px;
    margin: 30px 20px 10px;
}

a {
    text-decoration: none;
    color: var(--darkcolor);
}

a:hover {
    opacity: 60%;
    /* color: var(--aqua); */
}

.btn {
    background-color: var(--aqua);
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(14, 156, 156);
    color: white;
    box-shadow: 0px 0.5px 2px 0px rgb(174, 174, 174);
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    opacity: 100%;
}

.btn:active {
    opacity: 100%;
    box-shadow: 1px 3px 2px rgb(174, 174, 174);
    transform: translateY(4px);
}

.page-container {
    padding-top: 20px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------------------- Form Styling---------------------- */
.form-container {
    display: flex;
    justify-content: center;
}

form {
    padding: 40px;
    margin: 40px 40px 20px;
    box-shadow: 0px 0px 8px 1px rgb(227, 227, 227);
    border-radius: 5px;
    /* width: 60%; */
    max-width: 500px;
}

input {
    margin: 10px 0 20px;
    width: 100%;
    padding: 10px 5px;
    border: 1px solid var(--darkcolor);
}

button {
    width: 100%;
    margin: 30px 0;
}

label {
    color: var(--darkcolor);
}

::placeholder {
    color: rgb(178, 178, 178);
    font-stretch: expanded;
    font-family: var(--text-font);
}

@media (min-width: 500px) {
    body {
        font-size: 18px;
    }
}