nav {
    background-color: var(--yellow);
    height: 305px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 8px 1px rgb(227, 227, 227);
}

.btn {
    background-color: var(--aqua);
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(14, 156, 156);
    color: var(--darkcolor);
    box-shadow: 0px 0.5px 2px 0px rgb(174, 174, 174);
    font-size: 16px;
}

.btn:hover {
    opacity: 100%;
}

.btn:active {
    opacity: 100%;
    box-shadow: 1px 3px 2px rgb(174, 174, 174);
    transform: translateY(4px);
}

#logo {
    margin: 20px;
}

#logo img {
    height: 265px;
}

#nav-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#nav-controls {
    display: flex;
    justify-content: right;
}